[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {file = "https://github.com/django/django/archive/stable/2.2.x.tar.gz"}

[dev-packages]

[requires]
python_version = "3.6"
